<% layout("./boilerplate") %>
    <h1 class="text-center mt-3">Probono Clinic</h1>
    <div class="container">
        <h2>Available legal services</h2>
        <a href="https://lab.mlaw.gov.sg/legal-services/taking-the-means-test/">
            <h3 class="mt-3">Eligibility for probono services</h3>
        </a>
        <a href="https://singaporelegaladvice.com/law-articles/legal-aid-court-cases/">
            <h3 class="mt-3">More info about legal aid</h3>
        </a>
        <a href="https://ifams.gov.sg/">
            <h3 class="mt-3">
                Family Justice Legal Court
            </h3>
        </a>
        <a href="https://www.singaporefreelegaladvice.com/">
            <h3>Singapore free legal advice</h3>
        </a>
        <a href="https://www.judiciary.gov.sg/legal-help-support">
            <h3>Other services</h3>
        </a>
    </div>