<% layout('./boilerplate') %>
    <form action="/login" method="post">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="usernmae">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password">

        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>