<% layout('./boilerplate') %>
    <form action="/login" method="post" class="needs-validation container" novalidate>
        <label for="username" class="form-label mt-3">Username</label>
        <input type="text" class="form-control" name="username" id="usernmae" required>
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password" required>

        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>