<% layout('./boilerplate') %>

    <h1 class="text-center">Application Form</h1>
    <form action="/application" method="POST" class="needs-validation container" novalidate>
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" required>

        <label for="category" class="form-label mt-3">Category</label>
        <select name="category" id="category" class="form-select" required>
            <option value="criminal">Criminal</option>
            <option value="probate">Probate</option>
            <option value="divorce">Divorce</option>
            <option value="accident">Accident/Injury</option>
            <option value="mental capacity">Mental Capacity</option>
            <option value="others">Others</option>
        </select>

        <div>
            <h2 class="mt-3">Divorce</h2>
            <p>- What is the cause for you wanting to divorce? (Adultery, Desertion, Unreasonable Behaviour)
                - Have you and your spouse presented yourself as a couple since the day of separation?
                - How long have you been separated for?</p>

            <h2 class="mt-3">Criminal</h2>
            <p>
                - What is the type of crime that has been committed? (Theft, Criminal Trespass, Voluntary Cause of Hurt)
                - Were you arrested or detained by the Police?
                - Does your case warrant an investigation?
            </p>

            <h2 class="mt-3">Civil Litigation</h2>
            <p>- What is the amount you are looking to retrieve from the defendant?
                - Cause of action: this is the basis and reason for the claim.
                - Remedies: these are the types and form of redress or corrective action which you’re seeking to get if
                you succeed in the claim.</p>


        </div>

        <label for="description" class="form-label mt-3">Case description</label>
        <textarea name="description" id="description" cols="50" rows="10" class="form-control" required>

        </textarea>

        <label for="date" class="form-label mt-3">Date</label>
        <input type="date" class="form-control" name="date" id="date" min=<%=currentDate %> max=<%= oneMonth %> value=
            <%= currentDate %> required>

                <label for="time" class="form-label mt-3">Time</label>
                <input type="time" class="form-control" name="time" id="time" min="09:00" max="17:00" step="3600">

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>