<% layout('./boilerplate') %>

    <h1>Application History</h1>

    <% for(application of applications) { %>

        <a href="/application/<%= application._id %>">
            <h1>
                <%= application.title %>
            </h1>
        </a>

        <% } %>