<% layout('./boilerplate') %>
    <h1 class="text-center">Appoinments</h1>

    <div class="container">
        <% for(appointment of appointments) { %>
            <a href="/appointment/<%= appointment._id %>">
                <h2 class="text-center">
                    <%= appointment.date %>
                </h2>
            </a>
            <% } %>
    </div>